{% if filters.sort == 0 %}
    {% if filters.date == 0 %}
        <h1>Сегодня нет занятий у группы</h1>
    {% elif filters.date == 1 %}
        <h1>Завтра нет занятий у группы</h1>
    {% elif filters.date == 2 %}
        <h1>На этой неделе нет занятий у группы</h1>
    {% else %}
        <h1>На следующей неделе нет занятий у группы</h1>
    {% endif %}
{% elif filters.sort == 1 %}
    {% if filters.date == 0 %}
        <h1>Сегодня нет занятий у преподавателя</h1>
    {% elif filters.date == 1 %}
        <h1>Завтра нет занятий у преподавателя</h1>
    {% elif filters.date == 2 %}
        <h1>На этой неделе нет занятий у преподавателя</h1>
    {% else %}
        <h1>На следующей неделе нет занятий у преподавателя</h1>
    {% endif %}
{% elif filters.sort == 2 %}
    {% if filters.date == 0 %}
        <h1>Сегодня аудитория свободна</h1>
    {% elif filters.date == 1 %}
        <h1>Завтра аудитория свободна</h1>
    {% elif filters.date == 2 %}
        <h1>На этой неделе аудитория свободна</h1>
    {% else %}
        <h1>На следующей неделе аудитория свободна</h1>
    {% endif %}
{% endif %}