<form method="get">
    {% csrf_token %}
    <header>
        <div class="header-container">
            <select name="date" onchange="this.form.submit()">
                <option value="0" {% if filters.date == 0 %} selected {% endif %}>На сегодня</option>
                <option value="1" {% if filters.date == 1 %} selected {% endif %}>На завтра</option>
                <option value="2" {% if filters.date == 2 %} selected {% endif %}>На эту неделю</option>
                <option value="3" {% if filters.date == 3 %} selected {% endif %}>На следующую неделю</option>
            </select>
        </div>
    
        <div class="header-container">
            <select name="sort" onchange="this.form.submit()">
                <option value="0" {% if filters.sort == 0 %} selected {% endif %}>По группам</option>
                <option value="1" {% if filters.sort == 1 %} selected {% endif %}>По преподавателям</option>
                <option value="2" {% if filters.sort == 2 %} selected {% endif %}>По аудиториям</option>
            </select>
        </div>
    
        <div class="header-container">
            <select name="option" onchange="this.form.submit()">
                <option value="" selected>Все</option>
                {% for option in options %}
                    <option value="{{ option }}" {% if filters.option == option %} selected {% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </header>
</form>