<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <title>Расписание</title>
        <script src="{% static 'js/tableScripts.js' %}"></script>
    </head>

    <body>
        {% include "header.html" %}

        {% if dates|length != 0 %}
            {% if filters.sort == 0 %}
                {% include "studentsTable.html" %}
            {% elif filters.sort == 1 %}
                {% include "teachersTable.html" %}
            {% elif filters.sort == 2 %}
                {% include "placesTable.html" %}
            {% endif %}
        {% else %}
            {% include "emptyTable.html" %}
        {% endif %}
    </body>
</html>