{% for date in dates %}
    <table>
        <div class="schedule-date-info">
            <p>{{ weekDays|getItem:date }}</p>
            <p>{{ date }}</p>
            <p>{{ weekNumber|getItem:date }}-я неделя</p>
        </div>

        <thead>
            <tr>
                <th id='c1h{{ forloop.counter }}'>
                    <button onclick="changeVisibility('c1', '{{ forloop.counter }}')">Время</button>
                </th>
                <th id='c2h{{ forloop.counter }}'>
                    <button onclick="changeVisibility('c2', '{{ forloop.counter }}')">Предмет</button>
                </th>
                <th id='c3h{{ forloop.counter }}'>
                    <button onclick="changeVisibility('c3', '{{ forloop.counter }}')">Группа</button>
                </th>
                <th id='c4h{{ forloop.counter }}'>
                    <button onclick="changeVisibility('c4', '{{ forloop.counter }}')">Аудитория</button>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for entry in entries|getItem:date %}
                <tr name="r{{ forloop.parentloop.counter }}">
                    <td name='c1d{{ forloop.parentloop.counter }}'>{{ entry.start_time }} - {{ entry.end_time}}</td>
                    <td name='c2d{{ forloop.parentloop.counter }}'>{{ entry.subject }}</td>
                    <td name='c3d{{ forloop.parentloop.counter }}'>{{ entry.group }}</td>
                    <td name='c4d{{ forloop.parentloop.counter }}'>{{ entry.place_building }} {{ entry.place_room }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<script>spanSameRows();</script>