header {
    background-color: lightgrey;
    padding: 30px 10px 30px 10px;
    margin-bottom: 30px;
}

.main-filters-container {
    display: flex; 
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 10px;
}

.date-filter-container {
    display: flex;
    flex-direction: column;
    min-width: 15%;
}

.specified-date-container {
    margin-top: 5px; 
    gap: 10px;
}

header button {
    padding: 10px 30px;
}

header input[type="date"] {
    padding: 3px 7px;
}

.addition-filters-container {
    margin-top: 20px;
    gap: 10px;
}

.calendar-table {
    max-height: 170px;
    min-height: 150px; 
    width: fit-content;
}

table {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    width: 100%;
}

.schedule-date-info {
    display: flex;
    margin-top: 20px;
}

.schedule-date-info p {
    margin-right: 20px;
}

table button {
    font-weight: bold;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

table button:hover {
    text-decoration: underline;
    cursor: pointer;
}

th, td {
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

th {
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.entries-table td:not([name^="c1"]) {
    padding-top: 12px;
    padding-bottom: 12px;
}

.entries-table i {
    display: inline-block; 
    font-size: 92%;
    padding-top: 7px;
}

.entries-table td:nth-child(1) {
    width: 10%;
}

.entries-table td:nth-child(2) {
    width: 50%;
}

.entries-table td:nth-child(3) {
    width: 10%;
}

.entries-table td:nth-child(4) {
    width: 20%;
}

.entries-table td:nth-child(5) {
    width: 10%;
}

.canceled-cell {
    background-color: lightpink !important;
    text-decoration: line-through;
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}