header {
    background-color: lightgrey;
    padding: 30px 10px 30px 10px;
    margin-bottom: 30px;
}

header button {
    padding: 10px 30px;
}

.filters-container {
    margin-top: 20px;
}

.select2-container {
    width: 15% !important;
}

table {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    width: 100%;
}

.schedule-date-info {
    display: flex;
}

.schedule-date-info p {
    margin-right: 20px;
}

table button {
    font-weight: bold;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

table button:hover {
    text-decoration: underline;
    cursor: pointer;
}

th, td {
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

th {
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    line-height: 5px;
}

.canceled-row {
    background-color: lightpink !important;
    text-decoration: line-through;
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}